/*Основные стили*/
:root {

}

* {}
body {}
h1, h2 {}
p {}
a {}

@font-face {
    font-family: 'HarryPotterFont';
    src: url(/assets/fonts/HarryPotterRussianVersionofGfdtk.woff2) format('woff2');
    src: url(/assets/fonts/HarryPotterRussianVersionofGfdtk.woff) format('woff');
}