.summer-camp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summer-camp__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posters {
    display: grid;
    grid-template-columns: 25% 75%;
}
.posters__list {
    display: grid;
    grid-template-columns: 1fr;
}
.event__title {
    align-self: center;
}
.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
}