[class*='__h2'] {
    
}


.summer-camp {
    max-width: var(--max-width-container-computer);
    margin: var(--margin-section-computer);
    padding: var(--padding-section-computer);
}
.summer-camp__photo {
    display: flex;
    position: relative;
    max-width: 400px;
    min-width: 300px;
}
.summer-camp__img {
    width: 100%;
    height: 100%;
    display: block;   
}
.summer-camp__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    width: 100%;
    height: 100%;
}

.summer-camp__content {
    max-width: 500px;
    padding: 0px 20px;
}
.summer-camp__title {
    position: relative;
    margin: 0px 0px 30px;
    max-width: 365px;
}
.summer-camp__h2 {
    font-family: 'HarryPotterFontForTitle', sans-serif;
    font-size: 100px;
}
.summer-camp__p {
    position: absolute;
    font-family: 'HarryPotterFontForTitle-Text', sans-serif;
    font-size: 32px;
}
.summer-camp__p_top {
    top: -25px;
    right: 10px;
}
.summer-camp__p_bottom {
    top: 85px;
    right: 20px;
}
.summer-camp__text {
    font-family: var(--font-for-text);
    font-size: 22px;
}



/*posters*/
.posters {
    max-width: 1000px;
    margin: var(--margin-section-computer);
    padding: var(--padding-section-computer);
}
.posters__list {

}
.posters__paragraph {
    border: none;
    background-color: rgba(181, 209, 209, 0.534);
}
.event {
    padding: 10px 20px;
    background-color: rgba(181, 209, 209, 0.534); /*сменить*/
}
.event__content {
    padding: 0px 10px;
}
.event__title {
    text-align: center;
    font-family: 'HarryPotterFontForTitle-Text';
    font-size: 45px;
}
.event__span {
    font-weight: 800;
}
.event__p {
    font-family: var(--font-for-text);
    font-size: 25px;
}

/*contacts*/
.communication {
    max-width: 300px;
    padding: 20px 40px;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;

    &::backdrop {
        background-color: #000000d8;
    }
}
.communication__h2 {
    margin: 10px 0px 20px;
    font-family: var(--font-for-text);
}
.communication__button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}
.communication__way {
    max-width: 300px;
}
.communication__name {
    font-family: var(--font-for-text);
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}